<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7270.20091008.phn32/iPhone2,1_3.1.2_7D11_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPhone2,1_3.1.2_7D11_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8920x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8920x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>b7919f6257055d54af8c66c9e90a7bb4</string>
			<key>Key</key>
			<string>e9747be8a1554fe6482cd356c79be875a49c2580101dd2a754d8cc2ec1332f1c</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8920x</string>
			<key>IV</key>
			<string>c79a81ea8d7c17d2cb29c545c5c36a9a</string>
			<key>Key</key>
			<string>90f51a8324658e4abf5e8c36c6b6b40e9e97a5c5d2d3799d8ff435c2ee61d9b6</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>2353b10ef807d9e5b3e199a896e08ee8</string>
			<key>IsPlain</key>
			<true/>
			<key>Key</key>
			<string>792572607768dcc2cb73b3c5f429e331bf507ba35505588d085c40f4d9d1287a</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>4326f638dc439616514280750f764d95</string>
			<key>Key</key>
			<string>225ed65a6fb7b3a3cb985b73b3de835f0e9c2e55dec4d1377e3d9942b84c35ba</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6051-014.dmg</string>
			<key>IV</key>
			<string>fd19726dc6b555b6bb4dbbcd91d1e7c0</string>
			<key>Key</key>
			<string>fb2792b935fb9cd183341cb24539376556f8b7b8f887eb90fcebaa0daf2d6d9c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6049-015.dmg</string>
			<key>IV</key>
			<string>6f44e621edcba2a4e7d4f20320712480</string>
			<key>Key</key>
			<string>8cd89776f98c3de1d5ae1c936764e0c51eb1db7cd277d4261f6cde813cba970d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f9aac54a68b2fad383ca759057ad13df</string>
			<key>Key</key>
			<string>ec66b545ca47dc353f3f7595a80ffa74d54ca5bf586cfe769d70d117bf196073</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>41639d34547ae3dd7921bf3539dba529</string>
			<key>Key</key>
			<string>9121de4a038675d92e1a28683b2138b7a3bdb80994273d090398051c7f5af53c</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>7A341</key>
			<string>iBoot.7A341.patch</string>
			<key>7A400</key>
			<string>iBoot.7A400.patch</string>
			<key>7C144</key>
			<string>iBoot.7C144.patch</string>
			<key>7D11</key>
			<string>iBoot.7D11.patch</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>127aa60e77da219961ee70707f44cbd4</string>
			<key>Key</key>
			<string>c72ab4aae971f3a9ec356dfe555e4aef72d8e96c480698445ac236904e6a3443</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone2,1_3.1.2_7D11</string>
	<key>Platform</key>
	<integer>3</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-6029-014.dmg</string>
	<key>RootFilesystemKey</key>
	<string>47D76295817F74953F8E557B4917FE2201E9778A9900E43FBF311A83F176FE521B996A4B</string>
	<key>RootFilesystemMountVolume</key>
	<string>Northstar7D11.N88OS</string>
	<key>RootFilesystemSize</key>
	<integer>540</integer>
	<key>SHA1</key>
	<string>6998bb7d9e869b2d89a08853312f9457d070fb1f</string>
	<key>SubPlatform</key>
	<integer>4</integer>
</dict>
</plist>
