<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://foobar</string>
	<key>Filename</key>
	<string>iPod3,1_3.1.3_7E18_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8922x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8922x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8922x.img3</string>
			<key>IV</key>
			<string>f246cfefd363c2ec38927473be6f6d45</string>
			<key>Key</key>
			<string>afa37377de73fdf1e2ad6b0117cd2847</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8922x</string>
			<key>IV</key>
			<string>3dafb6426b7e90ff90965761a02ca222</string>
			<key>Key</key>
			<string>94e4a81c4d09e0cd0dbace483fbfd30a6ea542c58eb35cedbca9d82f44425f88</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>91ab08f4458028dd5d1443144ccdd1e3</string>
			<key>IsPlain</key>
			<true/>
			<key>Key</key>
			<string>7d2c252e593eee290fd95fd606334217</string>
			<key>Patch</key>
			<string>LLB.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8922x.img3</string>
			<key>IV</key>
			<string>699f77d3025ff2bbec9bd4ef0a0d8cbe</string>
			<key>Key</key>
			<string>6f7455d8c34307e9edeb40fde7343100</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6508-014.dmg</string>
			<key>IV</key>
			<string>2e7aa9f6dc823657f1c930a00db8efe1</string>
			<key>Key</key>
			<string>9781d55350f58c3ff72c7a3e50b70288</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7338d081bd8ff380fb2006a7d0d8a84a</string>
			<key>Key</key>
			<string>9bdf70dab9a37ae4d2731aa0988fdc82</string>
			<key>Patch</key>
			<string>iBEC.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>656dd7144de645da835aaedf9354e153</string>
			<key>Key</key>
			<string>6021f2e35db67c4aaec9c1f27a4226bf</string>
			<key>Patch</key>
			<string>iBSS.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7c090ab8c8a0cbc95db1007b322fe960</string>
			<key>Key</key>
			<string>ca3893d43d9446cd2f9f3fd5371d02e9</string>
			<key>Patch</key>
			<string>iBoot.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPod3,1_3.1.3_7E18</string>
	<key>Platform</key>
	<integer>2</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-6152-014.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1e05ef21821280869d4029a2328836b9f60bc63907c6e951c0f1c80c2d8c66aef5c39a44</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUNorthstarTwo7D11.N72OS</string>
	<key>RootFilesystemSize</key>
	<integer>450</integer>
	<key>SHA1</key>
	<string>5f4f5c01eda2f811f73167e7d1f82dbeed82367b</string>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
