<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://foobar</string>
	<key>Filename</key>
	<string>iPod1,1_3.1.2_7D11_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>677b4c711e3cacb72505feae8e1eae5d</string>
			<key>Key</key>
			<string>1fb738d6c091113d7dfdd89864a718d9</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>IV</key>
			<string>25b7f586d184c329d3d05953a6516a36</string>
			<key>Key</key>
			<string>dd03b5b52a53d3582b18a0052ef84038</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/LLB.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>dbf44c3cc2944b87bdecdbdcd8e42b82</string>
			<key>Key</key>
			<string>6d7d035c04c60ab2776a5e7c729daf0a</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6136-014.dmg</string>
			<key>IV</key>
			<string>0e128e1f69806afc476b73250908d641</string>
			<key>Key</key>
			<string>6a4db11073eb748bad1fabafb066fe13</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6134-014.dmg</string>
			<key>IV</key>
			<string>dc2c487fd5ce7d89c2fcfbec5846f40f</string>
			<key>Key</key>
			<string>998aa71f7816e979697b2d4b25e6a8a0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n45ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5577e4fab20c35c8c5a2873e057b4e10</string>
			<key>Key</key>
			<string>3fba036b25ff4f70d7efd479dca06d99</string>
			<key>Patch</key>
			<string>iBoot.n45ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPod1,1_3.1.2_7D11</string>
	<key>Platform</key>
	<integer>2</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-6132-014.dmg</string>
	<key>RootFilesystemKey</key>
	<string>C382A5CEFA91B7163AD6F80BF82F9894BC3C185BCB9138AD53C1D7414FC7C20FD95D444B</string>
	<key>RootFilesystemMountVolume</key>
	<string>Northstar7D11.N45OS</string>
	<key>RootFilesystemSize</key>
	<integer>490</integer>
	<key>SHA1</key>
	<string>7367dd9ba58a3b9777307368a0128e696fdfc9a6</string>
</dict>
</plist>
