<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://foobar</string>
	<key>Filename</key>
	<string>iPod2,1_3.1.2_7D11_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8720x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8720x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>fb91437b42eff2bc7c41366a1a97537f</string>
			<key>Key</key>
			<string>99d6958cca282856f8b2c38aa429d7f7</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8720x</string>
			<key>IV</key>
			<string>1d84879d9be87ca9b503216493d15813</string>
			<key>Key</key>
			<string>911fe67f760b98ffdac6cc576b5ca9bf</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>7525c877ebd56679618172d619217355</string>
			<key>IsPlain</key>
			<true/>
			<key>Key</key>
			<string>654914557bb53def070a44c1cde59d77</string>
			<key>Patch</key>
			<string>LLB.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>2d111a3b5d3c09ad7efc04947dab697f</string>
			<key>Key</key>
			<string>f0a439241017c09b8ea5527274ec72ce</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6141-014.dmg</string>
			<key>IV</key>
			<string>f37bd3f9597c1acba87bfd4029a08ff9</string>
			<key>Key</key>
			<string>de0e35e16213e69cb9c19dc527d9a96c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6142-014.dmg</string>
			<key>IV</key>
			<string>00c0685faeeebc48cb457e679bea9be7</string>
			<key>Key</key>
			<string>db7fee02b08b5c9efaae920fdd9ad4f9</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0551d6bca63f6e458d65d0e308a4a676</string>
			<key>Key</key>
			<string>a2f0497c17e7181705c002f1b1c8edcf</string>
			<key>Patch</key>
			<string>iBEC.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>083528a985c2e3f90f8324e1e9dce4e4</string>
			<key>Key</key>
			<string>c7af1cfc980b24e2464b70310e2b1713</string>
			<key>Patch</key>
			<string>iBSS.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5e421f8ce8c811311bbbb8a734ec07ce</string>
			<key>Key</key>
			<string>191b6846543d7026b6f0d5247f030588</string>
			<key>Patch</key>
			<string>iBoot.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPod2,1_3.1.2_7D11</string>
	<key>Platform</key>
	<integer>2</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
		<string>com.ripdev.icy</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-6133-014.dmg</string>
	<key>RootFilesystemKey</key>
	<string>FC68C25F1DCC929F37C2BE82B94E4C92B48EAC3DDD67ADEFD462404663265E3DCA43A930</string>
	<key>RootFilesystemMountVolume</key>
	<string>Northstar7D11.N72OS</string>
	<key>RootFilesystemSize</key>
	<integer>510</integer>
	<key>SHA1</key>
	<string>e7c83d4a5baec0e81816ae1cd1caf9a4dc38ebf0</string>
	<key>SubPlatform</key>
	<integer>5</integer>
</dict>
</plist>
