<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.n88</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/MobileSafari.app/MobileSafari</string>
				<key>Name</key>
				<string>MobileSafari</string>
				<key>Patch</key>
				<string>MobileSafari.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>14594ce65ae3dea24cbe8b078305df05</string>
			<key>Key</key>
			<string>cc88d770a3f9f94ea69acaf29644c4e5decaf2e93ad23f837c6b4dade8c539dc</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>797ac16307b2393ab397efc8f9e1a72b</string>
			<key>Key</key>
			<string>a32bd350501c990a0f133e93e7202e4c92bf455fcdfe964993993fef4afdb9f9</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n88</string>
			<key>IV</key>
			<string>2bfaa179582e267ad80f4cc91f46940f</string>
			<key>Key</key>
			<string>d6d5ac10136dcee693abb0364c011c5e23c46afdbe435b2eaa68e5c809becd31</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>IV</key>
			<string>aabcdf152b250b17d864364f77ecf5ad</string>
			<key>Key</key>
			<string>63a72b50b24dfdfdb6578c0cae905ecfbdeea00d3a09d82a92a97ee4e0d8dcf1</string>
			<key>IsPlain</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6461-399.dmg</string>
			<key>IV</key>
			<string>d506ed68e4cd9955fe09be284ff5c60c</string>
			<key>Key</key>
			<string>adb1b9da63b54cb07e8c4a22481bf2c7dee17519506085b07b1a8057a8980003</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3e549ad939b053e17ba79f7d29c67b59</string>
			<key>Key</key>
			<string>03e110f2ce8ffc3c4d1d3c821a6173fea5ce352e671daf3a75fa119bc1d324fd</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d044caa6b4fe10d75e081f1950b986e7</string>
			<key>Key</key>
			<string>16785e6ec40dcd29ce5cfb46e18d6031ac2834f4efccdce6deea967c006c8018</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>da06585d0644348f9e3164cb2cec4735</string>
			<key>Key</key>
			<string>8be0f039a73d5b0539dc49db5444c9edb57f12d076aa6462e8e7dd88cf0dc315</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-5534-582.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>765</integer>
	<key>RootFilesystemKey</key>
	<string>5d79765bc3233cbee58727c17a9487e5dc1e38400c2a98c30997bb02d00e97ae3ce5fab8</string>
	<key>RootFilesystemMountVolume</key>
	<string>Apex8A293.N88OS</string>
	<key>SHA1</key>
	<string>e065245874c73510ceb8fa4bd9388b60d46eb252</string>
	<key>Filename</key>
	<string>iPhone2,1_4.0_8A293_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone2,1_4.0_8A293</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>3</integer>
	<key>SubPlatform</key>
	<integer>4</integer>
</dict>
</plist>
