<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone1,1</key>
	<dict>
		<key>3.1.2</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>FE431A1E436E5298D3C871359768AAB43189FD5E7375A2CED3405DD8A223879A4D64A28E</string>
				<key>Path</key>
				<string>018-6028-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>677b4c711e3cacb72505feae8e1eae5d</string>
				<key>Key</key>
				<string>1fb738d6c091113d7dfdd89864a718d9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>db240b5ba6163898bbbc055be2276ea0</string>
				<key>Key</key>
				<string>a0ae133d5de080b4341d3eeb8aff63d4</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>25b7f586d184c329d3d05953a6516a36</string>
				<key>Key</key>
				<string>dd03b5b52a53d3582b18a0052ef84038</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8900x</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>dbf44c3cc2944b87bdecdbdcd8e42b82</string>
				<key>Key</key>
				<string>6d7d035c04c60ab2776a5e7c729daf0a</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>0e128e1f69806afc476b73250908d641</string>
				<key>Key</key>
				<string>6a4db11073eb748bad1fabafb066fe13</string>
				<key>Path</key>
				<string>018-6136-014.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>dc2c487fd5ce7d89c2fcfbec5846f40f</string>
				<key>Key</key>
				<string>998aa71f7816e979697b2d4b25e6a8a0</string>
				<key>Path</key>
				<string>018-6134-014.dmg</string>
			</dict>
		</dict>
		<key>3.1.3</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>3C0F821663316C08A0A059C2979ECF47D13B363DE3A44010D0DE0B0A5CF878CFE39D00C3</string>
				<key>Path</key>
				<string>018-6482-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>29900b1381b112bc6ca157b8d5e533fb</string>
				<key>Key</key>
				<string>f991b79dc86f1ed7d997785b4e93c0b9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>768745fc3d6984e6d6938b819426a3cb</string>
				<key>Key</key>
				<string>57baddbdf7d64453e26c1dec97027f9e</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
				<key>Key</key>
				<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8900x</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>1df103ab51af7ad9f8488d9e3b9edf11</string>
				<key>Key</key>
				<string>72e3360fae2d22252f497bd08d060d83</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>25e713dd5663badebe046d0ffa164fee</string>
				<key>Key</key>
				<string>7029389c2dadaaa1d1e51bf579493824</string>
				<key>Path</key>
				<string>018-6494-014.dmg</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>3.1.2</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>A8A886D56011D2D98B190D0A498F6FCAC719467047639CD601FD53A4A1D93C24E1B2DDC6</string>
				<key>Path</key>
				<string>018-6028-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>677b4c711e3cacb72505feae8e1eae5d</string>
				<key>Key</key>
				<string>1fb738d6c091113d7dfdd89864a718d9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>13e320617bc655211e2b68042d4508f8</string>
				<key>Key</key>
				<string>a4039d79cd6d41ce2b755ed566902103</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>25b7f586d184c329d3d05953a6516a36</string>
				<key>Key</key>
				<string>dd03b5b52a53d3582b18a0052ef84038</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8900x</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>dbf44c3cc2944b87bdecdbdcd8e42b82</string>
				<key>Key</key>
				<string>6d7d035c04c60ab2776a5e7c729daf0a</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>0e128e1f69806afc476b73250908d641</string>
				<key>Key</key>
				<string>6a4db11073eb748bad1fabafb066fe13</string>
				<key>Path</key>
				<string>018-6136-014.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>dc2c487fd5ce7d89c2fcfbec5846f40f</string>
				<key>Key</key>
				<string>998aa71f7816e979697b2d4b25e6a8a0</string>
				<key>Path</key>
				<string>018-6134-014.dmg</string>
			</dict>
		</dict>
		<key>3.1.3</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>BF5EB72CD65E9C37CF9920707CB6B4F7ECC10B38CFEC6B167002AC9FD6A3AB6643E45005</string>
				<key>Path</key>
				<string>018-6482-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>29900b1381b112bc6ca157b8d5e533fb</string>
				<key>Key</key>
				<string>f991b79dc86f1ed7d997785b4e93c0b9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>bc3a7ecbad75285a0b9ea96e268ac0c2</string>
				<key>Key</key>
				<string>fcce502abcfac78aad6e842f64f79864</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
				<key>Key</key>
				<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8900x</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>1df103ab51af7ad9f8488d9e3b9edf11</string>
				<key>Key</key>
				<string>72e3360fae2d22252f497bd08d060d83</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>25e713dd5663badebe046d0ffa164fee</string>
				<key>Key</key>
				<string>7029389c2dadaaa1d1e51bf579493824</string>
				<key>Path</key>
				<string>018-6494-014.dmg</string>
			</dict>
		</dict>
		<key>4.0</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>09e054a8dd6c11c7f41ad9e614a8d564aa7d0c653585f29c0b07d1f0a1e1dc0040624a16</string>
				<key>Path</key>
				<string>018-5536-600.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>6cd67432902ddf1129feb49c48a427ed</string>
				<key>Key</key>
				<string>13545fd4d707ed1e88436d7164f354e3</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>32bbdf3d85a713952503c2bbeb4d69a5</string>
				<key>Key</key>
				<string>3470f3841b87b161517588c21534b03b</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>0182586ff40f56d59148020a5660a3c2</string>
				<key>Key</key>
				<string>3861ea3f4b0e926552e6407fb33047ff</string>
				<key>Path</key>
				<string>kernelcache.release.n82</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>6b372ecbbcd1fc01f94c719c82cef173</string>
				<key>Key</key>
				<string>93f647f7ef2680c677a25149260fb88c</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>331aad2c1849d31fb956f92676d5f2f2</string>
				<key>Key</key>
				<string>3c3591997371c221a7fffc58620a96fd</string>
				<key>Path</key>
				<string>018-6460-388.dmg</string>
			</dict>
		</dict>
		<key>4.0.1</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>38A4937108C1C271C82013DFF870BAB10793292AB594AE7878175CF2BFB6BB9633419FF9</string>
				<key>Path</key>
				<string>018-8227-001.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>6cd67432902ddf1129feb49c48a427ed</string>
				<key>Key</key>
				<string>13545fd4d707ed1e88436d7164f354e3</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>32bbdf3d85a713952503c2bbeb4d69a5</string>
				<key>Key</key>
				<string>3470f3841b87b161517588c21534b03b</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>41C48897F7AAAC8BEABECC756538DA3C</string>
				<key>Key</key>
				<string>A943EFA20D4B9FC4D8D21A0A2B8159EA</string>
				<key>Path</key>
				<string>kernelcache.release.n82</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>6b372ecbbcd1fc01f94c719c82cef173</string>
				<key>Key</key>
				<string>93f647f7ef2680c677a25149260fb88c</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>CEFC2EE02478DE0AD2A9FB6D4F040EBE</string>
				<key>Key</key>
				<string>3D757AF42D4EF3C8F80F38EF67257E54</string>
				<key>Path</key>
				<string>018-8233-001.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>0C90B80E2C59667BB368F20C90B6EB25</string>
				<key>Key</key>
				<string>414FCCE1C9282CE85217B7BBABFC31B0</string>
				<key>Path</key>
				<string>018-8230-001.dmg</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone2,1</key>
	<dict>
		<key>3.1.2</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>47D76295817F74953F8E557B4917FE2201E9778A9900E43FBF311A83F176FE521B996A4B</string>
				<key>Path</key>
				<string>018-6029-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>b7919f6257055d54af8c66c9e90a7bb4</string>
				<key>Key</key>
				<string>e9747be8a1554fe6482cd356c79be875a49c2580101dd2a754d8cc2ec1332f1c</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>f9aac54a68b2fad383ca759057ad13df</string>
				<key>Key</key>
				<string>ec66b545ca47dc353f3f7595a80ffa74d54ca5bf586cfe769d70d117bf196073</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>41639d34547ae3dd7921bf3539dba529</string>
				<key>Key</key>
				<string>9121de4a038675d92e1a28683b2138b7a3bdb80994273d090398051c7f5af53c</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>c79a81ea8d7c17d2cb29c545c5c36a9a</string>
				<key>Key</key>
				<string>90f51a8324658e4abf5e8c36c6b6b40e9e97a5c5d2d3799d8ff435c2ee61d9b6</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8920x</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>4326f638dc439616514280750f764d95</string>
				<key>Key</key>
				<string>225ed65a6fb7b3a3cb985b73b3de835f0e9c2e55dec4d1377e3d9942b84c35ba</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>fd19726dc6b555b6bb4dbbcd91d1e7c0</string>
				<key>Key</key>
				<string>fb2792b935fb9cd183341cb24539376556f8b7b8f887eb90fcebaa0daf2d6d9c</string>
				<key>Path</key>
				<string>018-6051-014.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>6f44e621edcba2a4e7d4f20320712480</string>
				<key>Key</key>
				<string>8cd89776f98c3de1d5ae1c936764e0c51eb1db7cd277d4261f6cde813cba970d</string>
				<key>Path</key>
				<string>018-6049-015.dmg</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>2353b10ef807d9e5b3e199a896e08ee8</string>
				<key>Key</key>
				<string>792572607768dcc2cb73b3c5f429e331bf507ba35505588d085c40f4d9d1287a</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>127aa60e77da219961ee70707f44cbd4</string>
				<key>Key</key>
				<string>c72ab4aae971f3a9ec356dfe555e4aef72d8e96c480698445ac236904e6a3443</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			</dict>
		</dict>
		<key>3.1.3</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>9B3FD35BAD7D5307D85CE4B38B8E56BD680EF5A72A8F3B615F8D4F16C14BDCF3C3B24C6C</string>
				<key>Path</key>
				<string>018-6483-022.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>106f935de2be3fcc56fc018124b6799b</string>
				<key>Key</key>
				<string>f662084d788a33650f441451106a6b628051fc7f7697a0eb6948abcf3d151a15</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>5483202e320c6a272ae27591ff67f4bc</string>
				<key>Key</key>
				<string>ec15d959432b44355fd0c043f570b09c9fe62ad069db554cc20359322ea76d77</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>bb70b0109c0f6a323dba00df5806b111</string>
				<key>Key</key>
				<string>a95c62b3665493c92eebf3d471ea5949827fd9aab4248cd99d66bc2edf7ac4fe</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>1d269ab89cb5d86caf9c24927be9a04b</string>
				<key>Key</key>
				<string>cb626d43047477c2f376def673ed8c226b6b2f180ee65f7c2997b666273d695e</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8920x</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>dbb1c221ba6ab75676f1d0186bfcceee</string>
				<key>Key</key>
				<string>c6ace9331cfeb4951ccdeb21fc47ec04dee3f6ed06c72edecd73caec58c4fd1b</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>50a5d7418e3091a2c1d878495a6dbc6a</string>
				<key>Key</key>
				<string>217c7c38387264f2a2fef7a661d1bbeb705e7c90581c5b73055fe44f5bbc0498</string>
				<key>Path</key>
				<string>018-6495-022.dmg</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>5a4ff7c0cf5a572da1fae3877ee93887</string>
				<key>Key</key>
				<string>bc0e2288181b9e7b7759d350c5dfbd5c9863de737b4ec2dc7451add756712fec</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>5ff65ada6a48ea38adad2df3390d64ac</string>
				<key>Key</key>
				<string>88d0a0c2f05f3e54168eef00eed7958467503a204619be95dccca4606f857b2a</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			</dict>
		</dict>
		<key>4.0</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>5d79765bc3233cbee58727c17a9487e5dc1e38400c2a98c30997bb02d00e97ae3ce5fab8</string>
				<key>Path</key>
				<string>018-5534-582.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>14594ce65ae3dea24cbe8b078305df05</string>
				<key>Key</key>
				<string>cc88d770a3f9f94ea69acaf29644c4e5decaf2e93ad23f837c6b4dade8c539dc</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>3e549ad939b053e17ba79f7d29c67b59</string>
				<key>Key</key>
				<string>03e110f2ce8ffc3c4d1d3c821a6173fea5ce352e671daf3a75fa119bc1d324fd</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>da06585d0644348f9e3164cb2cec4735</string>
				<key>Key</key>
				<string>8be0f039a73d5b0539dc49db5444c9edb57f12d076aa6462e8e7dd88cf0dc315</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>d044caa6b4fe10d75e081f1950b986e7</string>
				<key>Key</key>
				<string>16785e6ec40dcd29ce5cfb46e18d6031ac2834f4efccdce6deea967c006c8018</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>2bfaa179582e267ad80f4cc91f46940f</string>
				<key>Key</key>
				<string>d6d5ac10136dcee693abb0364c011c5e23c46afdbe435b2eaa68e5c809becd31</string>
				<key>Path</key>
				<string>kernelcache.release.n88</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>aabcdf152b250b17d864364f77ecf5ad</string>
				<key>Key</key>
				<string>63a72b50b24dfdfdb6578c0cae905ecfbdeea00d3a09d82a92a97ee4e0d8dcf1</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>797ac16307b2393ab397efc8f9e1a72b</string>
				<key>Key</key>
				<string>a32bd350501c990a0f133e93e7202e4c92bf455fcdfe964993993fef4afdb9f9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>d506ed68e4cd9955fe09be284ff5c60c</string>
				<key>Key</key>
				<string>adb1b9da63b54cb07e8c4a22481bf2c7dee17519506085b07b1a8057a8980003</string>
				<key>Path</key>
				<string>018-6461-399.dmg</string>
			</dict>
		</dict>
		<key>4.0.1</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>5d9385452d9ce0fe0185dfc59a7cbb1015d086ce53ff769e78dd45bc6e4eeb48c60e2952</string>
				<key>Path</key>
				<string>018-8228-001.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>14594ce65ae3dea24cbe8b078305df05</string>
				<key>Key</key>
				<string>cc88d770a3f9f94ea69acaf29644c4e5decaf2e93ad23f837c6b4dade8c539dc</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>3e549ad939b053e17ba79f7d29c67b59</string>
				<key>Key</key>
				<string>03e110f2ce8ffc3c4d1d3c821a6173fea5ce352e671daf3a75fa119bc1d324fd</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>da06585d0644348f9e3164cb2cec4735</string>
				<key>Key</key>
				<string>8be0f039a73d5b0539dc49db5444c9edb57f12d076aa6462e8e7dd88cf0dc315</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>d044caa6b4fe10d75e081f1950b986e7</string>
				<key>Key</key>
				<string>16785e6ec40dcd29ce5cfb46e18d6031ac2834f4efccdce6deea967c006c8018</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>247036faa8dcd2d7f9c9d0fadb9651c7</string>
				<key>Key</key>
				<string>f2dc0dd971dcc00fa1d1268c488c517255b2549681559acc80e8cc2e9dac1ce0</string>
				<key>Path</key>
				<string>kernelcache.release.n88</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>aabcdf152b250b17d864364f77ecf5ad</string>
				<key>Key</key>
				<string>63a72b50b24dfdfdb6578c0cae905ecfbdeea00d3a09d82a92a97ee4e0d8dcf1</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>797ac16307b2393ab397efc8f9e1a72b</string>
				<key>Key</key>
				<string>a32bd350501c990a0f133e93e7202e4c92bf455fcdfe964993993fef4afdb9f9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>5e8b26560b3f18f4f1aa76bc6d526d86</string>
				<key>Key</key>
				<string>53896fea899c222b84791128d383268b579b5acd5230d2b35ed066294b2273e8</string>
				<key>Path</key>
				<string>018-8234-001.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>a889a2c060965ad60587806ecf5e9823</string>
				<key>Key</key>
				<string>52e54f5fc46d0d47923290b36f57d404f10c3389fbff35b60180af3f93912346</string>
				<key>Path</key>
				<string>018-8231-001.dmg</string>
			</dict>
		</dict>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>3.1.2</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>C382A5CEFA91B7163AD6F80BF82F9894BC3C185BCB9138AD53C1D7414FC7C20FD95D444B</string>
				<key>Path</key>
				<string>018-6132-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>677b4c711e3cacb72505feae8e1eae5d</string>
				<key>Key</key>
				<string>1fb738d6c091113d7dfdd89864a718d9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>dbf44c3cc2944b87bdecdbdcd8e42b82</string>
				<key>Key</key>
				<string>6d7d035c04c60ab2776a5e7c729daf0a</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>25b7f586d184c329d3d05953a6516a36</string>
				<key>Key</key>
				<string>dd03b5b52a53d3582b18a0052ef84038</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8900x</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>0e128e1f69806afc476b73250908d641</string>
				<key>Key</key>
				<string>6a4db11073eb748bad1fabafb066fe13</string>
				<key>Path</key>
				<string>018-6136-014.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>dc2c487fd5ce7d89c2fcfbec5846f40f</string>
				<key>Key</key>
				<string>998aa71f7816e979697b2d4b25e6a8a0</string>
				<key>Path</key>
				<string>018-6134-014.dmg</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>5577e4fab20c35c8c5a2873e057b4e10</string>
				<key>Key</key>
				<string>3fba036b25ff4f70d7efd479dca06d99</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img3</string>
			</dict>
		</dict>
		<key>3.1.3</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>467E695041D01E3F58886314BFE70C9B89A7F0C09D6622931F57D1CFA1F7ABD9C307563A</string>
				<key>Path</key>
				<string>018-6539-012.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>29900b1381b112bc6ca157b8d5e533fb</string>
				<key>Key</key>
				<string>f991b79dc86f1ed7d997785b4e93c0b9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n45ap.production/applelogo.s5l8900x.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>1df103ab51af7ad9f8488d9e3b9edf11</string>
				<key>Key</key>
				<string>72e3360fae2d22252f497bd08d060d83</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n45ap.production/recoverymode.s5l8900x.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
				<key>Key</key>
				<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8900x</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>25e713dd5663badebe046d0ffa164fee</string>
				<key>Key</key>
				<string>7029389c2dadaaa1d1e51bf579493824</string>
				<key>Path</key>
				<string>018-6494-014.dmg</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>9a1e756768c29932460b2996315de82b</string>
				<key>Key</key>
				<string>6f0728e07f3591394a51c780476b52f5</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n45ap.production/iBoot.n45ap.RELEASE.img3</string>
			</dict>
		</dict>
	</dict>
	<key>iPod2,1</key>
	<dict>
		<key>3.1.2</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>FC68C25F1DCC929F37C2BE82B94E4C92B48EAC3DDD67ADEFD462404663265E3DCA43A930</string>
				<key>Path</key>
				<string>018-6133-014.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>fb91437b42eff2bc7c41366a1a97537f</string>
				<key>Key</key>
				<string>99d6958cca282856f8b2c38aa429d7f7</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>2d111a3b5d3c09ad7efc04947dab697f</string>
				<key>Key</key>
				<string>f0a439241017c09b8ea5527274ec72ce</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>1d84879d9be87ca9b503216493d15813</string>
				<key>Key</key>
				<string>911fe67f760b98ffdac6cc576b5ca9bf</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8720x</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>7525c877ebd56679618172d619217355</string>
				<key>Key</key>
				<string>654914557bb53def070a44c1cde59d77</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>f37bd3f9597c1acba87bfd4029a08ff9</string>
				<key>Key</key>
				<string>de0e35e16213e69cb9c19dc527d9a96c</string>
				<key>Path</key>
				<string>018-6141-014.dmg</string>
			</dict>
			<key>Update Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>00c0685faeeebc48cb457e679bea9be7</string>
				<key>Key</key>
				<string>db7fee02b08b5c9efaae920fdd9ad4f9</string>
				<key>Path</key>
				<string>018-6142-014.dmg</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>0551d6bca63f6e458d65d0e308a4a676</string>
				<key>Key</key>
				<string>a2f0497c17e7181705c002f1b1c8edcf</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>083528a985c2e3f90f8324e1e9dce4e4</string>
				<key>Key</key>
				<string>c7af1cfc980b24e2464b70310e2b1713</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>5e421f8ce8c811311bbbb8a734ec07ce</string>
				<key>Key</key>
				<string>191b6846543d7026b6f0d5247f030588</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			</dict>
		</dict>
		<key>3.1.3</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>2360D83B606481A5CA080FE7A6FC64F8D5A5556413DFCF3E1277FE564734EE0B188798B8</string>
				<key>Path</key>
				<string>018-6481-015.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>f246cfefd363c2ec38927473be6f6d45</string>
				<key>Key</key>
				<string>afa37377de73fdf1e2ad6b0117cd2847</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>699f77d3025ff2bbec9bd4ef0a0d8cbe</string>
				<key>Key</key>
				<string>6f7455d8c34307e9edeb40fde7343100</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>ec772f88c3587c39bb293858554e545d</string>
				<key>Key</key>
				<string>19a5d7ebc718322c1e6d6324fb93e324</string>
				<key>Path</key>
				<string>kernelcache.release.s5l8720x</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>91ab08f4458028dd5d1443144ccdd1e3</string>
				<key>Key</key>
				<string>7d2c252e593eee290fd95fd606334217</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>2e7aa9f6dc823657f1c930a00db8efe1</string>
				<key>Key</key>
				<string>9781d55350f58c3ff72c7a3e50b70288</string>
				<key>Path</key>
				<string>018-6508-014.dmg</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>7338d081bd8ff380fb2006a7d0d8a84a</string>
				<key>Key</key>
				<string>9bdf70dab9a37ae4d2731aa0988fdc82</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>656dd7144de645da835aaedf9354e153</string>
				<key>Key</key>
				<string>6021f2e35db67c4aaec9c1f27a4226bf</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>7c090ab8c8a0cbc95db1007b322fe960</string>
				<key>Key</key>
				<string>ca3893d43d9446cd2f9f3fd5371d02e9</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			</dict>
		</dict>
		<key>4.0</key>
		<dict>
			<key>RootFilesystem</key>
			<dict>
				<key>RootFilesystemKey</key>
				<string>fcada08311f553b2d7194c97922e01c821b632bf62e64500056ea37e56343e6131a9839b</string>
				<key>Path</key>
				<string>018-5533-585.dmg</string>
			</dict>
			<key>AppleLogo</key>
			<dict>
				<key>IV</key>
				<string>2bdc3f3b5232fcfcd8c666bbd1fa7330</string>
				<key>Key</key>
				<string>10698a0feafe70d82d20ba8ad64f1f64</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			</dict>
			<key>RecoveryMode</key>
			<dict>
				<key>IV</key>
				<string>67906f5102360adf66fb7b4665ad9a2f</string>
				<key>Key</key>
				<string>a8e49bdf43651b0acf44ba9ed7ba8e0d</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			</dict>
			<key>KernelCache</key>
			<dict>
				<key>IV</key>
				<string>7871c802ff761882cedf66ed45d0f3b5</string>
				<key>Key</key>
				<string>603500ba973a326235aa2b9b2c37b369</string>
				<key>Path</key>
				<string>kernelcache.release.n72</string>
			</dict>
			<key>LLB</key>
			<dict>
				<key>IV</key>
				<string>002958bee7583fa28f7365e53de9feef</string>
				<key>Key</key>
				<string>eda1e0a9397e614bb1d9b773cedd2262</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			</dict>
			<key>Restore Ramdisk</key>
			<dict>
				<key>IV</key>
				<string>b2b8949bd33b65f22bd0c7e55ccc836b</string>
				<key>Key</key>
				<string>1e3e144a55fa8d1782db5153796238f0</string>
				<key>Path</key>
				<string>018-6462-368.dmg</string>
			</dict>
			<key>iBEC</key>
			<dict>
				<key>IV</key>
				<string>1f5c5fcb7d46946e5062a4b3addfc767</string>
				<key>Key</key>
				<string>441af1d3003f2e4005f055d170b0b92c</string>
				<key>Path</key>
				<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			</dict>
			<key>iBSS</key>
			<dict>
				<key>IV</key>
				<string>93463b2dc308eecb29a1732312a9f0c9</string>
				<key>Key</key>
				<string>47a818705e66dc67c42002553a10adb2</string>
				<key>Path</key>
				<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>892d0889ac3971254ced87e974fcff54</string>
				<key>Key</key>
				<string>cf0ce641bb5d00f703d8265fffb45c59</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			</dict>
		</dict>
	</dict>
	<key>iPod3,1</key>
	<dict>
		<key>3.1.2</key>
		<dict>
			<key>LLB</key>
			<dict>
				<key>Key</key>
				<string>unknown</string>
				<key>IV</key>
				<string>unknown</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>6e7dc46c6a9cf573dda9af515c1b50ac</string>
				<key>Key</key>
				<string>eabfe2fc4bad7f97c090ed021e7fd80a7463251c4919a3c637d2a0c529b79d5a</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			</dict>
		</dict>
		<key>3.1.3</key>
		<dict>
			<key>LLB</key>
			<dict>
				<key>Key</key>
				<string>unknown</string>
				<key>IV</key>
				<string>unknown</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
			</dict>
			<key>iBoot</key>
			<dict>
				<key>IV</key>
				<string>4e70155527570d9e1921500da3fa7c4a</string>
				<key>Key</key>
				<string>af4c51c6e241c6e3862bd83f41513bf0c0c69e5de58faed6146325fe836f75ea</string>
				<key>Path</key>
				<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
			</dict>
		</dict>
        <key>4.0</key>
        <dict>
            <key>RootFilesystem</key>
            <dict>
                <key>RootFilesystemKey</key>
                <string>ec6eb0268c4e9f8ab9d003f601e8f4b36f4fc4311c61e5ebed07ce718424ffee7e7d924d</string>
            </dict>
            <key>KernelCache</key>
            <dict>
                <key>IV</key>
                <string>a25717ffda39ee5619ed4d0b177cbd5b</string>
                <key>Key</key>
                <string>bbdb9356910793c190253d46f2e5fe4a78d42276b3b36c921f7548fdf98cc083</string>
            </dict>
        </dict>

	</dict>
</dict>
</plist>
