<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7472.20100202.8tugj/iPhone2,1_3.1.3_7E18_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPhone2,1_3.1.3_7E18_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8920x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8920x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
			<key>IV</key>
			<string>106f935de2be3fcc56fc018124b6799b</string>
			<key>Key</key>
			<string>f662084d788a33650f441451106a6b628051fc7f7697a0eb6948abcf3d151a15</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8920x</string>
			<key>IV</key>
			<string>1d269ab89cb5d86caf9c24927be9a04b</string>
			<key>Key</key>
			<string>cb626d43047477c2f376def673ed8c226b6b2f180ee65f7c2997b666273d695e</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5a4ff7c0cf5a572da1fae3877ee93887</string>
			<key>IsPlain</key>
			<true/>
			<key>Key</key>
			<string>bc0e2288181b9e7b7759d350c5dfbd5c9863de737b4ec2dc7451add756712fec</string>
			<key>Patch</key>
			<string>LLB.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
			<key>IV</key>
			<string>dbb1c221ba6ab75676f1d0186bfcceee</string>
			<key>Key</key>
			<string>c6ace9331cfeb4951ccdeb21fc47ec04dee3f6ed06c72edecd73caec58c4fd1b</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6495-022.dmg</string>
			<key>IV</key>
			<string>50a5d7418e3091a2c1d878495a6dbc6a</string>
			<key>Key</key>
			<string>217c7c38387264f2a2fef7a661d1bbeb705e7c90581c5b73055fe44f5bbc0498</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5483202e320c6a272ae27591ff67f4bc</string>
			<key>Key</key>
			<string>ec15d959432b44355fd0c043f570b09c9fe62ad069db554cc20359322ea76d77</string>
			<key>Patch</key>
			<string>iBEC.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bb70b0109c0f6a323dba00df5806b111</string>
			<key>Key</key>
			<string>a95c62b3665493c92eebf3d471ea5949827fd9aab4248cd99d66bc2edf7ac4fe</string>
			<key>Patch</key>
			<string>iBSS.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>7A341</key>
			<string>iBoot.7A341.patch</string>
			<key>7A400</key>
			<string>iBoot.7A400.patch</string>
			<key>7C144</key>
			<string>iBoot.7C144.patch</string>
			<key>7D11</key>
			<string>iBoot.7D11.patch</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
			<key>IV</key>
			<string>5ff65ada6a48ea38adad2df3390d64ac</string>
			<key>Key</key>
			<string>88d0a0c2f05f3e54168eef00eed7958467503a204619be95dccca4606f857b2a</string>
			<key>Patch</key>
			<string>iBoot.n88ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone2,1_3.1.3_7E18</string>
	<key>Platform</key>
	<integer>3</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-6483-022.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9B3FD35BAD7D5307D85CE4B38B8E56BD680EF5A72A8F3B615F8D4F16C14BDCF3C3B24C6C</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUNorthstarTwo7E18.N88OS</string>
	<key>RootFilesystemSize</key>
	<integer>530</integer>
	<key>SHA1</key>
	<string>8cb3775e62c6f72059a962bf891b4e145b965052</string>
	<key>SubPlatform</key>
	<integer>4</integer>
</dict>
</plist>
