<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.n72</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/MobileSafari.app/MobileSafari</string>
				<key>Name</key>
				<string>MobileSafari</string>
				<key>Patch</key>
				<string>MobileSafari.patch</string>
			</dict>
		</array>
		<key>Enable Functionality</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/CoreServices/SpringBoard.app/N72AP.plist</string>
				<key>Name</key>
				<string>N72AP.plist Patch</string>
				<key>Patch</key>
				<string>N72AP.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>Applications/Preferences.app/General.plist</string>
				<key>Name</key>
				<string>General.plist Patch</string>
				<key>Patch</key>
				<string>General.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
			<key>IV</key>
			<string>2bdc3f3b5232fcfcd8c666bbd1fa7330</string>
			<key>Key</key>
			<string>10698a0feafe70d82d20ba8ad64f1f64</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
			<key>IV</key>
			<string>67906f5102360adf66fb7b4665ad9a2f</string>
			<key>Key</key>
			<string>a8e49bdf43651b0acf44ba9ed7ba8e0d</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n72</string>
			<key>IV</key>
			<string>7871c802ff761882cedf66ed45d0f3b5</string>
			<key>Key</key>
			<string>603500ba973a326235aa2b9b2c37b369</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n72ap.RELEASE.patch</string>
			<key>IV</key>
			<string>002958bee7583fa28f7365e53de9feef</string>
			<key>Key</key>
			<string>eda1e0a9397e614bb1d9b773cedd2262</string>
			<key>IsPlain</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6462-368.dmg</string>
			<key>IV</key>
			<string>b2b8949bd33b65f22bd0c7e55ccc836b</string>
			<key>Key</key>
			<string>1e3e144a55fa8d1782db5153796238f0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1f5c5fcb7d46946e5062a4b3addfc767</string>
			<key>Key</key>
			<string>441af1d3003f2e4005f055d170b0b92c</string>
			<key>Patch</key>
			<string>iBEC.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>93463b2dc308eecb29a1732312a9f0c9</string>
			<key>Key</key>
			<string>47a818705e66dc67c42002553a10adb2</string>
			<key>Patch</key>
			<string>iBSS.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
			<key>IV</key>
			<string>892d0889ac3971254ced87e974fcff54</string>
			<key>Key</key>
			<string>cf0ce641bb5d00f703d8265fffb45c59</string>
			<key>Patch</key>
			<string>iBoot.n72ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-5533-585.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>623</integer>
	<key>RootFilesystemKey</key>
	<string>fcada08311f553b2d7194c97922e01c821b632bf62e64500056ea37e56343e6131a9839b</string>
	<key>RootFilesystemMountVolume</key>
	<string>Apex8A293.N72OS</string>
	<key>SHA1</key>
	<string>c026c373bc535496a6f901de2ba37d4a487413bf</string>
	<key>Filename</key>
	<string>iPod2,1_4.0_8A293_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod2,1_4.0_8A293</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>5</integer>
</dict>
</plist>
